body {
  font-size: 11px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  margin: 0; }

p {
  font-size: 13px; }

h2 {
  font-size: 16px; }

/*CSS only for scrollable tabs*/
.stMainWrapper .tabHeaderWraper {
  position: relative;
  border: 1px solid #e78f08;
  background: #f6a828; }
  .stMainWrapper .tabHeaderWraper .inner_scroll {
    overflow: hidden; }
  .stMainWrapper .tabHeaderWraper .ui-widget-header {
    background: none;
    border: none; }
  .stMainWrapper .tabHeaderWraper .stNavMainLeft {
    position: absolute;
    left: 0;
    top: 0; }
  .stMainWrapper .tabHeaderWraper .stNavMainRight {
    position: absolute;
    right: 0;
    top: 0; }

.stMainWrapper ul.ui-tabs-nav {
  position: relative;
  white-space: nowrap; }
  .stMainWrapper ul.ui-tabs-nav li {
    display: inline-block;
    float: none;
    /*do not set 'left' should be done in the plugin after some calculations*/ }
    .stMainWrapper ul.ui-tabs-nav li.stHasCloseBtn a {
      padding-right: 5px; }
    .stMainWrapper ul.ui-tabs-nav li.stFirstTab {
      margin-right: 3px; }
    .stMainWrapper ul.ui-tabs-nav li span.stCloseBtn {
      float: left;
      margin-top: 6px;
      margin-right: 4px;
      border: none;
      cursor: pointer; }

.stMainWrapper .tabHeaderWraper:after {
  content: "";
  display: table;
  clear: both; }

.stNavMain {
  list-style: none;
  margin: 0 !important;
  padding: 0 1px 0 1px !important;
  position: relative;
  border: none !important;
  height: 100%; }
  .stNavMain button {
    width: 16px;
    height: 100%;
    border-top: none !important;
    border-bottom: none !important;
    padding: 0; }

/*End of scrollable tabs css*/
