body {
  font-size: 11px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  margin: 50px 70px;
}

p {
  font-size: 13px
}

h2 {
  font-size: 16px;
}

/*CSS only for scrollable tabs*/
.stMainWrapper ul.ui-tabs-nav {
  position: relative;
  overflow: hidden;
}

.stMainWrapper ul.ui-tabs-nav li {
  position: absolute;
  top: 3px;
  /*do not set 'left' should be done in the plugin after some calculations*/
}

.stMainWrapper ul.ui-tabs-nav li.stHasCloseBtn a {
  padding-right: 5px;
}

.stMainWrapper ul.ui-tabs-nav li.stFirstTab {
  margin-right: 3px;
}

.stMainWrapper ul.ui-tabs-nav li span.stCloseBtn {
  float: left;
  margin-top: 6px;
  margin-right: 4px;
  border: none;
  cursor: pointer;
}

.stNavMain {
  list-style: none;
  margin: 0 !important;
  padding: 0 1px 0 1px !important;
  position: relative;
  border: none !important;
  width: 100%;
}

.stNavMain li {
  position: absolute;
  width: 16px;
  border-top: none !important;
  border-bottom: none !important;
  cursor: pointer;
  margin-top: -1px;
}

.stNavMain li .ui-icon {
  margin-top: 38%;
}

.stNavMain li.stNavNextArrow,
.stNavMain li.stNavLastArrow {
  border-right: none !important;
  right: 3px;
}

.stNavMain li.stNavPrevArrow,
.stNavMain li.stNavFirstArrow {
  border-left: none !important;
}

/*End of scrollable tabs css*/
