%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Scroll tab default css*/

.ui-scroll-tabs {
  &-view {
    -ms-touch-action: inherit;
    touch-action: inherit;
    z-index: 1;
    overflow: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    .ui-widget-header {
      border: none;
      background: transparent;
    }
  }
  &-header {
    position: relative;
    overflow: hidden;
    .stNavMain {
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      transition: left .2s, right .2s, opacity .4s;
      transition-timing-function: ease-in-out;
      button,
      .navbutton {
        height: 100%;
      }
      .navbutton {
        display: inline-block;
        padding: 5px;
      }
    }
    .stNavMainLeft {
      left: -250px;
    }
    .stNavMainRight {
      right: -250px;
    }
    /* Show when required - overlays button on top */
    &.show-controls-when-required {
      .stNavMain {
        opacity: 0;
      }
      .stNavMainLeft {
        &.stNavVisible {
          left: 0;
          opacity: 1;
        }
      }
      .stNavMainRight {
        &.stNavVisible {
          right: 0;
          opacity: 1;
        }
      }
    }
    /* Show always - reserves the space and shows the button in disable state */
    &.show-controls-always.st-activate-controls {
      padding: 0 42px;
      .stNavMainLeft {
        left: 0;
      }
      .stNavMainRight {
        right: 0;
      }
    }
    ul.ui-tabs-nav {
      position: relative;
      white-space: nowrap;
      @extend %clearfix;
      li {
        // 'no-wrap' will work only if li acts as an inline element
        display: inline-block;
        float: none;
        padding: 0;
        margin: 0 0 -0.25em;
        &.ui-tabs-selected {
          margin-bottom: -0.25em;
        }
        &.stHasCloseBtn a {
          padding-right: 0.5em;
          &:focus {
            outline: none;
          }
        }
        span.stCloseBtn {
          float: left;
          padding: 4px 2px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}


/*End of scrolltabs css*/
