%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Scroll tab default css*/

.ui-scroll-tabs {
  &-view {
    z-index: 1;
    overflow: hidden;
    .ui-widget-header {
      border: none;
      background: transparent;
    }
  }
  &-header {
    position: relative;
    overflow: hidden;
    @extend %clearfix;
    .stNavMain {
      position: absolute;
      top: 0;
      z-index: 2;
      height: 100%;
      opacity: 0;
      transition: left .5s, right .5s, opacity .8s;
      transition-timing-function: swing;
      button, .navbutton {
        height: 100%;
      }
      .navbutton{
        display: inline-block;
        padding: 5px;
      }
    }
    .stNavMainLeft {
      left: -250px;
      &.stNavVisible {
        left: 0;
        opacity: 1;
      }
    }
    .stNavMainRight {
      right: -250px;
      &.stNavVisible {
        right: 0;
        opacity: 1;
      }
    }
    ul.ui-tabs-nav {
      position: relative;
      white-space: nowrap;
      li {
        // 'no-wrap' will work only if li acts as an inline element
        display: inline-block;
        float: none;
        padding: 0;
        margin: 0 0 -0.25em;
        &.stHasCloseBtn a {
          padding-right: 0.5em;
          &:focus{
            outline: none;
          }
        }
        span.stCloseBtn {
          float: left;
          padding: 4px 2px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}


/*End of scrolltabs css*/
